.search-list {
    padding: 30px;
}

.search-table {
    background-color: #fff;
}

.search-table td, .search-table th {
    padding: 7px 10px;
}

.search-table table {
    width: 100%;
}

.search-table thead {
    background: #101010;
}

.search-table th {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 15px;
}

figure.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

figure.profile {
    width: 40px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 0;
}

button.booknow {
    background: #F7473A;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

button.booknow:hover {
    background: #000;
}

.search-table tr {
    border-bottom: 3px solid #f1f1f1;
}

.search-list h3 {
    color: #000;
    margin-bottom: 20px;
}

ul.pagination.pagination-sm.m-0.float-right {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.search-pagination {
    margin-top: 10px;
    padding: 0 175px;
}

i.fa.fa-angle-double-left {
    padding: 0 10px;
}

i.fa.fa-angle-double-right {
    padding: 0 10px;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

ul.pagination {
    display: flex;
    align-items: center;
}

.search-pagination {
    padding: 0;
    display: table;
    width: 100%;
}

.search-pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f7473a;
    border-color: #f7473a;
}

.search-pagination li.page-item a {
    padding: 4px 12px !important;
    color: #f7473a;
}

.buttons-group p {
    font-size: 25px;
    padding: 22px;
    background: aliceblue;
    display: inline;
}

.buttons-group i.fa.fa-microphone, i.fa.fa-video, i.fa.fa-stop-circle, i.fa.fa-video-slash, i.fa.fa-microphone-slash {
    background: #ccc;
    padding: 20px 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}

i.fa.fa-video {
    padding: 20px 20px 20px;
}

i.fa.fa-video-slash {
    padding: 20px;
}

i.fa.fa-stop-circle {
    color: red;
}

button.timer-btn {
    width: 80%;
    font-size: 15px;
    background-color: #f7473a;
    border-color: #f7473a;
    cursor: default;
}

button.video-call-btn {
    width: 80%;
    background: green;
}

.react-tabs__tab--selected {
    border-radius: 0px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.react-tabs__tab {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #F7473A;
    box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
    color: #fff;
}

.custom-ui>h1 {
    margin-top: 0;
}

.custom-ui>button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
}

.custom-ui p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 17px;
}

button.delete-booking {
    background: red;
    font-size: 15px;
    font-weight: 500;
    border: 0px;
    border-color: none;
}

button.no-cancel {
    font-size: 15px;
    font-weight: 500;
    background: green;
    border: 0px;
    border-color: none;
}

button.okay-btn {
    background: black;
    border: 0px;
    border: none;
}

button.cancel-booking {
    background: #F7473A;
    padding: 5px 10px;
}

.time-data {
    text-transform: uppercase;
}

button.add-availability {
    float: right;
    margin-bottom: 2px;
    background: green;
    font-weight: 600;
    padding: 10px 10px;
    font-size: 12px;
    margin-top: -38px;
}

i.fa.fa-edit {
    font-size: 20px;
    font-weight: 600;
    color: green;
    padding: 4px 10px;
    cursor: pointer;
}

i.fa.fa-trash {
    font-size: 20px;
    color: red;
    padding: 3px 0;
    cursor: pointer;
}

.container-fluid {
    width: 100%;
    height: 400px !important;
}

.container-fluid .row {
    padding: 10px 8px;
}

.container-fluid .col-xs-12.col-md-12 {
    text-align: center;
    margin: auto;
    padding: 50px 0px;
}

.container-fluid .col-xs-6.col-md-5 {
    margin-bottom: 15px;
}

.container-fluid label {
    font-size: 18px;
    font-weight: 500;
}

input.form-control {
    min-height: 45px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.container-fluid label {
    font-size: 15px;
    font-weight: 600;
}

.container-fluid div#react-time-range {
    border-radius: 0px;
    min-height: 45px;
}

.container-fluid span.label {
    font-weight: bold;
    font-size: 12px;
}

.container-fluid select#select-start {
    padding: 6px 10px 12px;
    border-radius: 0px;
}

.container-fluid select#select-end {
    padding: 6px 10px 12px;
    border-radius: 0px;
}

.container-fluid button.btn.btn-success.submit-btn {
    padding: 10px 80px;
    border-radius: 0px;
}

.container-fluid .error-msg-time {
    width: 100%;
    margin-top: .25rem;
    font-size: 12px;
    color: red;
    text-align: left;
}

.container-fluid .display-data {
    border-bottom: 1px solid #cccc;
}

.container-fluid h3.pt-2 {
    border-bottom: 1px solid #ccc;
}